*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 18vh;
    border: 1px solid #000000;
    padding: 0;
    margin: 0;
}

.logo{
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.logo:hover{
    text-shadow: 3px 3px 9px #4B4B4B;
}

nav{
    display: flex;
    justify-content: space-between;     
    width: 90%;
    height: 17vh;
    margin: auto;
    align-items: center;
}

header nav ul{
    display: flex;
    gap:22%;
    list-style: none;
}

header nav ul li a{
    text-decoration-line:none;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}
.activated{
    text-decoration-line: underline;
    color: #000000;
}

header nav ul li a:hover{
    text-decoration-line: underline;
    color: black;
}

.header-input{
    width: 336px;
    width: 30%;
    height: 7vh;
    border: 1px solid #4B4B4B;
    border-radius: 4px;
    padding-left: 4vw;
}

::placeholder {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #969494;
}

.search-icon{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 29%;
    top: 7vh;
    cursor: pointer;
}
  
.menu-with-buttons ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin:50px 15%;
    list-style: none;
    gap:5px;
}

.menu-with-buttons ul li a{
    text-decoration: none;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.menu-with-buttons button{
    background-color: white;
    border: 0.5px solid #EAEAEA;
    border-radius: 10px;  
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}

.menu-with-buttons button:hover{
    background: #F1F1F1;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* gap:85px; */
    gap: 5.8vw;
    /* row-gap: 50px; */
    row-gap: 10vh;
    width: 90%;
    margin: 0 5% 10% 5%;
}

.card{
    font-size: 30px;
    text-align: center;
    /* width: 260px; */
    width: 100%;
    /* height: 271px; */
}

.hex-and-rgb{
    display: flex;
    justify-content: space-between;
    /* height: 50px; */
}


.hex-and-rgb h6{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px; 
    text-transform: uppercase;
}

.color-holder div h6:not(:first-child){
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 10px;
    color: #FFFFFF;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 10px 0px 4px;
}

.color-holder div h6:nth-child(1){
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 10px;
    color: #FFFFFF;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 0px 10px 0px 4px;
}

.color-holder{
    display: grid;
    grid-template-columns: auto;
}

.stripe1, .stripe2, .stripe3, .stripe4, .stripe5, .stripe6, .stripe7, .stripe8, .stripe9, .stripe10,
.stripe11, .stripe12, .stripe13, .stripe14, .stripe15, .stripe16, .stripe17, .stripe18, .stripe19, .stripe20,
.stripe21, .stripe22, .stripe23, .stripe24, .stripe25, .stripe26, .stripe27, .stripe28, .stripe29, .stripe30,
.stripe31, .stripe32, .stripe33, .stripe34, .stripe35, .stripe36, .stripe37, .stripe38, .stripe39, .stripe40,
.stripe41, .stripe42, .stripe43, .stripe44, .stripe45, .stripe46, .stripe47, .stripe48{
    /* width: 257px; */
    width: 100%;
    height: 52px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: black;
}

.stripe-color-in-text{
    width: 100%;
    height: 52px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
}

.stripe-color-in-text:hover{
    opacity: 1;
    transition: ease-in-out 0.5s;
}

/* first row of color cards with stripes */
.stripe1{
    background: #CDF0EA;
}
.stripe2{
    background: #F9F9F9;
}
.stripe3{
    background: #F6C6EA;
}
.stripe4{
    background: #FAF4B7;
}
.stripe5{
    background: #D4ECDD;
}
.stripe6{
    background: #345B63;
}
.stripe7{
    background: #152D35;
}
.stripe8{
    background: #112031;
}
.stripe9{
    background: #F9F3DF;
}
.stripe10{
    background: #CDF2CA;
}
.stripe11{
    background: #FFDEFA;
}
.stripe12{
    background: #FFC898;
}
.stripe13{
    background: #3330E4;
}
.stripe14{
    background: #F637EC;
}
.stripe15{
    background: #FBB454;
}
.stripe16{
    background: #FAEA48;
}
/* Second row of color cards with stripes */
.stripe17{
    background: #D9D7F1;
}
.stripe18{
    background: #FFFDDE;
}
.stripe19{
    background: #E7FBBE;
}
.stripe20{
    background: #FFCBCB;
}
.stripe21{
    background: #990000;
}
.stripe22{
    background: #FF5B00;
}
.stripe23{
    background: #D4D925;
}
.stripe24{
    background: #FFEE63;
}
.stripe25{
    background: #B91646;
}
.stripe26{
    background: #DFD8CA;
}
.stripe27{
    background: #FBF3E4;
}
.stripe28{
    background: #105652;
}
.stripe29{
    background: #CDF0EA;
}
.stripe30{
    background: #F9F9F9;
}
.stripe31{
    background: #F6C6EA;
}
.stripe32{
    background: #FAF4B7;
}
/* third row of color cards with stripes */
.stripe33{
    background: #FFCC1D;
}
.stripe34{
    background: #0B4619;
}
.stripe35{
    background: #116530;
}
.stripe36{
    background: #E8E8CC;
}
.stripe37{
    background: #00FFAB;
}
.stripe38{
    background: #14C38E;
}
.stripe39{
    background: #B8F1B0;
}
.stripe40{
    background: #E3FCBF;
}
.stripe41{
    background: #49FF00;
}
.stripe42{
    background: #FBFF00;
}
.stripe43{
    background: #FF9300;
}
.stripe44{
    background: #FF0000;
}
.stripe45{
    background: #06283D;
}
.stripe46{
    background: #1363DF;
}
.stripe47{
    background: #47B5FF;
}
.stripe48{
    background: #DFF6FF;
}
/* 3 icons below the color stripes */
.icon-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 0px 0px 4px 4px;
    height: 50px;
    background-color: #F5F5F5;
    padding: 0 15px;
}

.download-and-link-icon-holder{
    display: flex;
    gap:15px;
}



/* Collection page starts here */
.collection-banner-with-text{
    width: 100%;
    /* height: 283px; */
    height: 38vh;
    background-image: url(../images/collection-page-photos/Mask-group.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-banner-with-text:hover{
    filter: opacity(60%);
    transition-duration: 1s;
}

.collection-banner-with-text h1{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color:#FFFFFF;
    cursor:default;
}

/* contains 6 cards and their contents too */
.grid-conteiner{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:8.8vw;
    row-gap: 20%;
    width: 90%;
    margin: 10% 5% 15% 5%;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    /* width: 346px; */
    width: 100%;
    height: fit-content;
    /* height: 314px; */
}

.card1 img{
    width:inherit;
}
.card2 img{
    width: inherit;
}
.card3 img{
    width:inherit;
}
.card4 img{
    width:inherit;
}
.card5 img{
    width:inherit;
}
.card6 img{
    width:inherit;
}
/* holds everything under image including circles and text */
.color-and-text{
    margin: 0;
    padding: 0;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.colored-circle-holder{
    height: fit-content;
    display: flex;
    justify-content: center;
}
.colored-circle-holder ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.colored-circle-holder ul li{
    list-style: none;
    width: 16%;
    height: 8vh;
    border-radius: 50%;
    margin: 10px 0;
}
  
.under-colored-circles-color-codes ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.under-colored-circles-color-codes ul li{
    padding: 0 5px;
    list-style: none;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #5A5A5A;
    margin-bottom: 5px;
}
/* card 1 circles */
.card1 .colored-circle-holder ul li:nth-child(1){
    background-color: #D12529;
}
.card1 .colored-circle-holder ul li:nth-child(2){
    background-color: #394430;
}
.card1 .colored-circle-holder ul li:nth-child(3){
    background-color: #FC739F;
}
.card1 .colored-circle-holder ul li:nth-child(4){
    background-color: #FA9F4A;
}
.card1 .colored-circle-holder ul li:nth-child(5){
    background-color: #A13583;
}
/* card 2 circles */
.card2 .colored-circle-holder ul li:nth-child(1){
    background-color: #ff8601;
}
.card2 .colored-circle-holder ul li:nth-child(2){
    background-color: #F2EAE7;
}
.card2 .colored-circle-holder ul li:nth-child(3){
    background-color: #430001;
}
.card2 .colored-circle-holder ul li:nth-child(4){
    background-color: #15100F;
}
.card2 .colored-circle-holder ul li:nth-child(5){
    background-color: #E59222;
}
/* card 3 circles */
.card3 .colored-circle-holder ul li:nth-child(1){
    background-color: #7F73B5;
}
.card3 .colored-circle-holder ul li:nth-child(2){
    background-color: #E2DFE6;
}
.card3 .colored-circle-holder ul li:nth-child(3){
    background-color: #534090;
}
.card3 .colored-circle-holder ul li:nth-child(4){
    background-color: #0E44A7;
}
.card3 .colored-circle-holder ul li:nth-child(5){
    background-color: #050408;
}
/* card 4 circles */
.card4 .colored-circle-holder ul li:nth-child(1){
    background-color: #F6F6F8;
}
.card4 .colored-circle-holder ul li:nth-child(2){
    background-color: #FDCF05;
}
.card4 .colored-circle-holder ul li:nth-child(3){
    background-color: #49403E;
}
.card4 .colored-circle-holder ul li:nth-child(4){
    background-color: #E6D9C9;
}
.card4 .colored-circle-holder ul li:nth-child(5){
    background-color: #F9E822;
}
/* card 5 circles */
.card5 .colored-circle-holder ul li:nth-child(1){
    background-color: #007CC2;
}
.card5 .colored-circle-holder ul li:nth-child(2){
    background-color: #01A0D9;
}
.card5 .colored-circle-holder ul li:nth-child(3){
    background-color: #DE9E00;
}
.card5 .colored-circle-holder ul li:nth-child(4){
    background-color: #CDDD97;
}
.card5 .colored-circle-holder ul li:nth-child(5){
    background-color: #DFD046;
}
/* card 6 circles */
.card6 .colored-circle-holder ul li:nth-child(1){
    background-color: #F5BCCF;
}
.card6 .colored-circle-holder ul li:nth-child(2){
    background-color: #E1D953;
}
.card6 .colored-circle-holder ul li:nth-child(3){
    background-color: #D09231;
}
.card6 .colored-circle-holder ul li:nth-child(4){
    background-color: #563E43;
}
.card6 .colored-circle-holder ul li:nth-child(5){
    background-color: #A9C12A;
}